*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
  width: 100;
}

@font-face {
    font-family: 'NeutralFace'; /* Give your font a name */
    src: url('../fonts/NeutralFace.otf') format('truetype'); /* Relative path to the font file */
    /* Additional font properties like font-weight and font-style can be set here */
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'NeutralFace', sans-serif;
}


p{
    font-family: 'Open Sans', sans-serif;
}

.headers{
  color: #545454;
  opacity: 30%;
    font-family: 'NeutralFace' sans-serif;
    font-size:2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5625rem;
    padding: 10px 0px;
}



.container{
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0rem 1.5rem 0rem;
}
    
.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}


ul > li > a {
    color: #fff;
    font-size: 0.9rem;
    font-family: 'NeutralFace';
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085rem;
    text-decoration: none;
}

li{
    list-style: none;
}

.navBar > ul > li{
    display: inline;
}

.navBar > ul{
    width:30rem;
    display: flex;
    justify-content: space-between;

}

.navBar{
    display: flex;
    justify-content: space-between;
}

a:hover{
    color: #545454;
}

div.vertical-line {
    height: 80px;
  }

div.vertical-line.right {
    border-right: 1.1px solid #fff;

   }

   .socialMedia{
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0%;
    height: 14rem;
    justify-content: space-between;
    
}



.socialIcon:hover{
    transform: scale(1.4);
}


.vertical-mainPage{
      display: flex;
      flex-direction: row;
      align-items: center;
      -webkit-transform: rotate(-90deg);

      /* transform: rotate(-90deg); */
      
}

#locationIcon{
    padding-right: 0.69rem;
}

.home-hero{
    display: flex;
    flex-direction: row;
    padding-top: 250px;
  
}

.btn {
    width: fit-content;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 8.4rem;
    margin-top: 1.25rem;
    position: relative;
    position: absolute;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    
  }
  
  .text {
    padding: 0 80px;
    visibility: hidden;
  
  }

  .home-text h1{
    color: #545454;
    font-family: 'NeutralFace' sans-serif;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5625rem;
  }

  .home-text h2{
    color: #545454;
font-family: 'NeutralFace' sans-serif;
font-size: 2.8125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.28125rem;
  }
  
  .flip-front, 
  .flip-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform-style: flat;
      transform-style: flat;
      -webkit-transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
      font-family: 'NeutralFace';
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.1125rem;
      
      
  }
  
  .flip-front {
      color: #545454;
      border: 1px solid #545454;
      border-radius: 10px;
      background-color: transparent;
      -webkit-transform: rotateX(0deg) translateZ(25px);
      -ms-transform: rotateX(0deg) translateZ(25px);
      -o-transform: rotateX(0deg) translateZ(25px);
      transform: rotateX(0deg) translateZ(25px);
      
  }
  
  .flip-back {
    color: #fff;
    background-color: #678983;
    border: 1px solid #678983;
    border-radius: 10px;
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
  }
  
  .btn:hover .flip-front {
      -webkit-transform: rotateX(-90deg) translateZ(25px);
      -ms-transform: rotateX(-90deg) translateZ(25px);
      -o-transform: rotateX(-90deg) translateZ(25px);
      transform: rotateX(-90deg) translateZ(25px);
  }
  
  .btn:hover .flip-back {
      -webkit-transform: rotateX(0deg) translateZ(25px);
      -ms-transform: rotateX(0deg) translateZ(25px);
      -o-transform: rotateX(0deg) translateZ(25px);
      transform: rotateX(0deg) translateZ(25px);
  }

 

 
.box-about{
    margin-top:500px;
    margin-bottom: 4rem;

}

  .aboutTextAndImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    
     
  }

  .aboutText{
  position: absolute;
    
  }

  #ptm{
  color: #545454;
  font-family: 'NeutralFace'; 
  font-size: 0.75rem; 
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  letter-spacing: 0.21rem;
  }

  .aboutTextAndImg h2{
    color: #678983;
    font-family: 'NeutralFace';
    font-size: 4.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.2rem;
  }

  #joSmithPic{
    width: 60vw;
    margin-left: 28.2vw;
  }

  #descr{
    color: #545454;
    font-family: 'Open Sans';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.09rem;
    max-width: 32rem;
  }


.aboutMe{
    display: flex;
    margin-left:28.3vw;
    margin-top: 2vw;
    

}


.verticalH{
color: #545454;
font-family: 'NeutralFace';
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.21rem;
-webkit-transform: rotate(-90deg);
margin-bottom: 8rem;

}

.box-works{
    margin-top: 5rem;

}


.box-works h2{
  color: #FFF;
    font-family: 'NeutralFace';
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.47188rem; background-color: #678983; height:3.7rem; margin-bottom: 1rem; border-radius: 10px 10px 0 0;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 { 
    background-image: url(/images/item1.png);
  }
  
  .item-2 { 
    background-image: url(/images/item2.png);
  }
  
  .item-3 { 
    background-image: url(/images/item3.png)
  }
  
  .item-4 { 
    background-image: url(/images/item4.png)
}
  
  .item-5 { 
    background-image: url(/images/item5.png);
  }

  .bttn-float.bttn-primary.bttn-md.bttn-primary {
    border-color: #678983;
    border-style: double;
    color: #678983;
    background-color:#fff;
    width: 9rem;
    height: 2.7rem;
    margin-top: 0.7rem;
    border-radius: 10px;
   
  }

  .buttonBack{
    background-color: #678983;
    border-radius: 0 0 10px 10px;
    height: 3.7rem;
    margin-bottom: 3rem;
    

  }


  #buttonCenter{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.3rem 0rem;
  }

  footer{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 1.75rem 0rem;
  }

  footer > ul > li > a {
    color: #545454;
    
} 

footer > .socialMedia{
  display: flex;
  height: 4rem;
}


.background{
background-image: url('/images/background.jpg');
background-color: #fff;
background-size: 100vw 100vh;
background-position-x: center;
margin: 0;
background-repeat: no-repeat;
}

.vertical-mainPage h3{
  color: #678983;
        font-family: 'NeutralFace';
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.09rem;
}




/* home page resp */
@media (max-width: 767px) {
 
.home-text h1{
  font-size: 5rem;
}
 
.home-text h2{
  font-size: 1.75rem;
}
  


.background{
  background-image: url(/images/backgroundMedia.jpg);
}





}

/* home phone media */

@media (max-width: 480px) {


  .home-text h1{
    font-size: 3rem;
  }
   
  .home-text h2{
    font-size: 1rem;
  }
    
  
  
  .background{
    background-image: url(/images/backgroundMedia.jpg);
  }

  
.vertical-mainPage h3{
  font-size: 0.75rem;
}

#logo{
  width: 90px;
}

.logo{
  width:fit-content;
}
.navBar > ul{

  flex-direction: column;
  }


  .aboutTextAndImg h2{
    font-size: 3rem;
    letter-spacing: 2rem;

}

.btn {
  margin-left: 6rem;
}


#ptm{
  font-size: 1rem;
}

.aboutMe{
  display: flex;
  flex-direction: column;
 
}

.verticalH{
  -webkit-transform: rotate(0deg);
  margin: 10px 0px;
}

.box-works h2{
  font-size: 4.25rem;
  letter-spacing: 1rem;
}

.home-hero{
  padding-top: 210px;
}


}



/* works */
.worksSec{
width: 100%;
display: flex;
flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 4.5rem;
 opacity: 0;
 transform: translateY(20px); /* You can adjust the values for your effect */
 transition: opacity 0.5s, transform 0.5s;
}

.worksSec.in-view {
  opacity: 1;
  transform: translateY(0);
}

.worksSec > img{
  padding: 15px 0px;
}

.worksSec > h3{
  color: #545454;
font-family: 'NeutralFace';
font-size: 0.9rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.08rem;
}

@media (max-width: 480px) {
  .worksSec{
    margin-top: 2rem;
  }
}



/* Prices */

.wrapper{
  width: 100%;
}

.cards-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(/images/camera.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.8);
}

.card-header {
  margin-bottom: 40px;
}

.card-header h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;
  margin: 30px;
  border-bottom: 1px groove #fff;
  padding: 10px;
}

.card-header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 300;
}

.card-header sup {
  font-size: 35px;
}

.card-header span {
  font-size: 18px;
}

.card-body {

  margin-bottom: 60px;
 

}

.card-body li {
  text-align: start;
  max-width:80%;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 15px auto;
}

.card-body i {
  margin-right: 25px;
}

.card-body .fa-check {
  color: #0d683a;
}

.card-body .fa-times {
  color: #911832;
}

.card-footer {
  margin-bottom: 40px;
}




@media (max-width: 1200px) {
  .container {
    height: 100%;
  }

  .cards-wrapper {
    flex-wrap: wrap;
  }

  .card {
    margin: 50px;
  }
}

@media (max-width: 480px) {
  .card{
    margin: 25px;
  }

  .cards-wrapper{
    width: 100%;
  }
}


/* couple */

.containerGallery {
  max-width: 86rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
  
}

.main .containerGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.main .cardGallery {
  color: #252a32;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.main .card-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70%;
  background: #ffffff;
}

.main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .main .containerGallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}


@media only screen and (max-width: 767px) {
*{
    font-size: 14px;
}

.aboutTextAndImg{
  flex-direction: column;
}

.aboutText{
  position: relative;
}

#joSmithPic{
  width: 100%;
  margin:0 auto;
}

.aboutMe{
  margin-left: 10vw;
}




}


/* contactpage */


.containerContact{
  max-width: 80%;
  margin: 0 auto;
  padding: 5em 0rem;
 

}

.brand span{
  color: #fff;
}

.wrapperContact{
  justify-content: center;
  box-shadow: 0 0 20px 0 #678983;
  border-radius: 10px;
}
/* All direct elements within wrapper - give padding of 1em*/
.wrapperContact > *{
  padding: 1em;
}

.company-info{
  background: #666;
  border-radius: 10px 10px 0px 0px;
}

.company-info h3, .company-info ul{
  color:#fff;
  text-align: center;
  margin: 0 1rem;
  letter-spacing: 0.1rem;
  font-family: 'NeutralFace';
  font-size: 14px;
}



.contactPage {
  background-color: #64827c;
  border-radius: 0px 0px 10px 10px;
}

/* Form Styling */
.contactPage form {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;

}

.contactPage form label {
  display: block;
  color: #fff;
  
}

.contactPage form p {
  margin: 0;
  
 
}

.contactPage form .full{
  grid-column: 1 / 3;
  color: #fff;
  letter-spacing: 1.8px;
}

.form-heading {
text-align:center;
font-size:20px;
letter-spacing:1.8px;
color: #fff;
margin-bottom: 15px;
}

.contactPage form button, .contactPage form input, .contactPage form textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #496862;
  background-color: #b9d3ce;
  color: #333;
  border-radius: 10px;
}

.contactPage form button{
  background: #80A6CB;
  border: 0;
  text-transform: uppercase;
}

.contactPage form button:hover, .contactPage form button:focus{
  
  background: #c6dcf2;
  color: #545454;
  outline: 0;
  transition: background-color 2s ease-out;
}

iframe{
  width: 300px;
  height: 250px;
}



/* Large Screens */
@media(min-width:700px){

  .wrapperContact{
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .wrapperContact > *{
      padding: 2em;
  }
  .company-info h3, .company-info ul, .brand {
      text-align: left;
  }


  .contactPage {
    border-radius: 0px 10px 10px 0px;
  }

  .company-info{

    
    border-radius: 10px 0px 0px 10px;
  }

}

@media (max-width: 480px){
  iframe{
    width: 200px;
  }
}

/* printPage */

.printsWrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  
}

.workWrapper{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 25px;

}

.workWrapper:hover {

  transform: scale(1);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.8);
}


label , option{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  

}



select{
  font-family: 'Open Sans', sans-serif;
  width:200px;
  height: 25px;
  border-radius: 10px;
  font-size: 1rem;
  color: #545454;
}



option:checked,
option :hover{
  background-color: #678983;
}



.printImg{
  max-width: 70%;
  
}

.prints{
  max-width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}

.printText{
  color: #545454;
  font-family: 'opeb sans' sans-serif;
  font-size: 1rem;
}

.printText h2{
  color: #678983;
  letter-spacing: 0.28125rem;

}

/* running text line */
.lineBox {
	background-color: #64827c;
	padding: 10px 0;
	overflow: hidden;
}

.box__line {
	margin: 0;
	white-space: nowrap;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
	
/* 	transform: translatex(); */
	
	animation: run 30s linear infinite;
	
}


@keyframes run {
	0% {
		transform: translatex(100%);
	}
	100% {
		transform: translatex(-2000px);
	}
}


@media only screen and (max-width: 767px) {
  .workWrapper{
    flex-direction: column;
    text-align:start;
    

  }

  

  .printImg{
    padding-top: 1.5rem;
  }
}  